// Colors

@base00: #2d2d2d;
@base01: #393939;
@base02: #515151;
@base03: #747369;
@base04: #a09f93;
@base05: #d3d0c8;
@base06: #e8e6df;
@base07: #f2f0ec;
@base08: #f2777a;
@base09: #f99157;
@base0A: #ffcc66;
@base0B: #99cc99;
@base0C: #66cccc;
@base0D: #6699cc;
@base0E: #cc99cc;
@base0F: #d27b53;


@text-color: @base06;
@text-color-subtle: @base04;
@text-color-highlight: @base07;
@text-color-selected: @text-color-highlight;

@text-color-info: @base0D;
@text-color-success: @base0B;
@text-color-warning: @base0A;
@text-color-error: @base08;

@text-color-ignored: @text-color-subtle;
@text-color-added: @text-color-success;
@text-color-renamed: @text-color-info;
@text-color-modified: @base0C;
@text-color-removed: @text-color-error;

@background-color-info: darken(@text-color-info,10%);
@background-color-success: darken(@text-color-success,10%);
@background-color-warning: darken(@text-color-warning,10%);
@background-color-error: darken(@text-color-error,10%);
@background-color-highlight: @base02;
@background-color-selected: @base02;

@app-background-color: @base01;

@base-background-color: @base01;
@base-border-color: @base01;

@pane-item-background-color: @base-background-color;
@pane-item-border-color: rgba(0, 0, 0, 0.5);

@input-background-color: #212224;
@input-border-color: @base-border-color;

@tool-panel-background-color: @base01;
@tool-panel-border-color: @base-border-color;

@inset-panel-background-color: #161719;
@inset-panel-border-color: @base-border-color;

@panel-heading-background-color: #43484d;
@panel-heading-border-color: fadein(@base-border-color, 10%);

@overlay-background-color: #202123;
@overlay-border-color: @background-color-highlight;

@button-background-color: @base02;
@button-background-color-hover: lighten(@button-background-color, 10%);
@button-background-color-selected: @base01;
@button-border-color: @base-border-color;

@tab-bar-background-color: @base01;
@tab-bar-border-color: darken(@tab-background-color-active, 10%);
@tab-background-color: @base01;
@tab-background-color-active: @base00;
@tab-border-color: @base00;

@tree-view-background-color: fade(@base01,50%);
@tree-view-border-color: @tool-panel-border-color;

@scrollbar-background-color: @base03; // Needs to be opaque -> atom/atom/issues/4578
@scrollbar-color: rgba(92, 92, 92, 0.5);

@ui-site-color-1: @background-color-success; // green
@ui-site-color-2: @background-color-info; // blue
@ui-site-color-3: @background-color-warning; // orange
@ui-site-color-4: @base0E; // purple
@ui-site-color-5: @base0A; // yellow


// Sizes

@font-size: 12px;
@input-font-size: 14px;

@disclosure-arrow-size: 12px;

@component-padding: 10px;
@component-icon-padding: 5px;
@component-icon-size: 16px;
@component-line-height: 28px;
@component-border-radius: 2px;


// Other

@font-family: 'Open Sans', 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
